.project-card {
  margin-block: 3em;
  width: 72%;
  margin-inline: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: grid;
  gap: 3em;
  padding: 1.5em;
}
.project-card:nth-child(even) {
  grid-template-columns: 1fr 24em;
}
.project-card:nth-child(odd) {
  grid-template-columns: 24em 1fr;
}
.project-card-left {
  overflow: hidden;
}
.project-card-left,
.project-card-left > img {
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.project-card-left > img {
  transform: translateY(0);
  transition: transform 10s ease-in-out 0s;
}
.project-card-left > img:hover {
  transform: translateY(-80%);
}
.project-card-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.odd-right {
  grid-column: 1/2;
  grid-row: 1/2;
}
.odd-left {
  grid-column: 2/3;
}
.project-card-right > h3 {
  display: flex;
  align-items: center;
  gap: 0.35em;
  font-family: "Poppins";
  font-size: 1.6rem;
}
.project-card-right > h3:hover svg {
  scale: 1.1;
}
.project-card-right > p {
  font-family: "Poppins";
  font-size: 1.1rem;
}
.tech-used {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.tech-used > span {
  font-size: 1.4rem;
  font-family: "Manrope";
  padding: 0.25em 0.75em;
  transition: scale 100ms ease;
  font-weight: bolder;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.tech-used > span:hover {
  scale: 1.1;
}
.source-code-and-demo {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.card-icon {
  width: 2rem;
  height: 2rem;
}
.source-code-and-demo > span {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  transition: color 100ms ease;
}

.source-code-and-demo > span:hover {
  color: crimson;
}
