.project-card {
  margin-block: 3em;
  width: 60em;
  height: 29em;
  margin-inline: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: grid;
  gap: 3em;
  grid-auto-rows: 26em;
  padding: 1.5em;
}
.project-card:nth-child(even) {
  grid-template-columns: 30em 24em;
}
.project-card:nth-child(odd) {
  grid-template-columns: 24em 30em;
}
.project-card-left {
  overflow: hidden;
}
.project-card-left,
.project-card-left > img {
  height: auto;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.project-card-left > img {
  transform: translateY(0);
  transition: transform 8s ease-in-out 0s;
}
/* .project-card-left > img:hover {
  transform: translateY(-70%);
} */
.project-card-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.odd-right {
  grid-column: 1/2;
  grid-row: 1/2;
}
.odd-left {
  grid-column: 2/3;
}
.project-card-right > h3 {
  display: flex;
  align-items: center;
  gap: 0.35em;
  font-family: "Poppins";
  font-size: 1.6rem;
}
.project-card-right > h3:hover svg {
  scale: 1.1;
}
.project-card-right > p {
  font-family: "Poppins";
  font-size: 1.1rem;
}
.tech-used {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.tech-used > span {
  font-size: 1.4rem;
  font-family: "Manrope";
  padding: 0.25em 0.75em;
  transition: scale 100ms ease;
  font-weight: bolder;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  color: #1a1a1ade;
}

.tech-used > span:hover {
  scale: 1.1;
}
.source-code-and-demo {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.card-icon {
  width: 2rem;
  height: 2rem;
}
.source-code-and-demo > span {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  transition: color 100ms ease;
  color: #242424;
}
.source-code-and-demo > span > a {
  color: #242424;
}

.source-code-and-demo > span:hover {
  color: crimson;
}
.source-code-and-demo > span:hover a {
  color: crimson;
}

@media screen and (max-width: 1010px) {
  .project-card:nth-child(even),
  .project-card:nth-child(odd) {
    grid-template-columns: 100%;
    width: 40em;
    gap: 0;
    height: fit-content;
    grid-auto-rows: 26em 22em;
  }

  .odd-left {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .odd-right {
    grid-column: 1/-1;
    grid-row: 2/2;
  }
  .source-code-and-demo > span {
    margin-bottom: 0;
  }
  .project-card-right {
    justify-content: center;
    align-items: center;
    padding-inline: 2em;
  }
}

@media screen and (max-width: 799px) {
  .project-card:nth-child(even),
  .project-card:nth-child(odd) {
    width: 92%;
    gap: 2em;
    height: max-content;
    grid-auto-rows: 19em min-content;
  }
  .odd-right {
    justify-content: flex-start;
  }
  .project-card-right {
    justify-content: flex-start;
  }
  .project-card-right > h3 {
    font-size: 1.2rem;
  }
  .project-card-right > p {
    font-size: 0.9rem;
    text-align: center;
  }
  .tech-used > span {
    font-size: 1rem;
  }
  .source-code-and-demo {
    margin-top: 0;
  }
}
