@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Poppins:wght@400;600;700;800&family=Shrikhand&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  /* background-color: #d5e6f5; */
  margin-inline: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* nav css */
.nav-desk {
  z-index: 999;
  padding-inline: 4em;
  height: 10vh;
  background-color: #242424;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  cursor: pointer;
  display: flex;
  margin-left: 2em;
  align-items: center;
  gap: 0.5em;
}
.brand > svg {
   color: aliceblue;
   font-size: 2.5rem;
}

.brand > a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.6rem;
  font-family: poppins;
  font-weight: 700;
}
.brand > img {
  transition: scale 200ms ease;
}
.brand:hover img {
  scale: 1.1;
}
.nav-elements {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3em;
}

.contact {
  display: grid;
  place-items: center;
  margin-right: 2em;
  width: min(5em, 7em);
  padding: 0.35em 0.5em;
  background: #d5e6f5;
  text-align: center;
  border-radius: 20px;
  transition: transform 200ms ease;
}
.contact > a {
  /* font-family: poppins; */
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: 600;
  transform: scale(1);
}

.contact:hover {
  transform: scale(1.1);
}

/* nav css ends */

/* home css */
.home-parent {
  width: 100%;
  background: #f9f9f9;
  min-height: fit-content;
  padding-block: 2em;
}
.home {
  width: 80%;
  margin-inline: auto;
}

.grid {
  /* margin-top: 10vh; */
  /* gap: 1em; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30em;
  /* justify-content: center; */
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #1a1a1a;
}

.left > h1 {
  font-size: 4rem;
  font-weight: 900;
}
.left > p {
  font-weight: 500;
  font-family: poppins;
  font-size: 1.2rem;
  color: #1a1a1ab9;
}
.right {
  display: grid;
  place-items: end;
}

.right > .image {
  width: 25em;
  height: 25em;
  border-radius: 50%;
}

.right > .image > img {
  border-radius: 50%;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.icons {
  width: 2em;
  height: 2em;
}

.technology {
  color: hsla(0, 0%, 10%, 0.808);
  font-family: poppins;
  font-weight: 600;
  font-size: 1.1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}
.fst-child {
  display: flex;
  align-items: center;
  gap: 1em;
}
.or {
  font-size: 1.5em;
  font-weight: 400;
}
.technology > li:not(:first-child) {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 0.75em;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff;
}
svg {
  transition: scale 200ms ease;
}
.technology > li:not(:first-child):hover svg {
  scale: 1.1;
}
a {
  font-weight: 500;
  color: aliceblue;
  text-decoration: inherit;
}
li > a:hover {
  color: #f8d432;
}
/* About me */

.about-me {
  padding-block: 2em;
  width: 100%;
  min-height: fit-content;
  /* background-color: #f9f9f9; */
}

.about-grid {
  display: grid;
  margin-block: 5em;
  width: 75%;
  gap: 2.5em;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 21em;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.about-left > img {
  border-radius: 8px;
}

.about-right-inner {
  font-family: poppins;
}
.about-right-inner > h2 {
  color: crimson;
  font-size: 1.5rem;
}
.about-right-inner > p {
  font-size: 0.9rem;
}

.name-desg {
  margin-bottom: 0.5em;
}

.name-desg > h2 {
  font-size: 2rem;
  color: #000000de;
}

.name-desg > p {
  font-family: manrope;
  color: crimson;
}

/* Projects */

.projects {
  background: #f9f9f9;
  width: 100%;
  height: fit-content;
  padding-block: 2em;
}

.portfolio {
  width: 80%;
  margin-inline: auto;
}

.portfolio > h2 {
  font-size: 1.5rem;
  font-family: "Poppins";
  color: crimson;
}
.portfolio > p {
  font-family: poppins;
  font-size: 1.9rem;
  font-weight: 800;
  color: #121212ed;
}
/* Contact */

.contact-section {
  /* background-color: #f9f9f9; */
  padding-block: 2em;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 4em;
}
.title {
  margin-inline: auto;
  width: 80%;
}
.title > h2 {
  font-size: 1.5rem;
  font-family: "Poppins";
  color: crimson;
}
.title > p {
  color: #121212ed;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 700;
}
.contact-info {
  color: #121212ed;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-evenly;
}
.common {
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Poppins";
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 0.75em; */
}
.common > svg {
  padding: 0.25em;
}
.copied {
  display: inline-block;
  font-size: 0.9rem;
  color: #09b643;
}
.not-copied {
  display: none;
}
/* Footer */

.footer {
  background-color: #1a1a1a;
  width: 100%;
  padding-block: 1em;
  height: fit-content;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > .copyright {
  padding: 0.25em;
  margin-left: 8em;
  font-family: poppins;
  color: #ffffffad;
}
.footer > .social-icons {
  padding: 0.25em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #ffffffad;
  margin-right: 8em;
}
.footer-icons {
  width: 1.5em;
  height: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 1010px) {
  .home {
    width: 92%;
  }
  .left > h1 {
    font-size: 3rem;
  }
  .about-grid {
    width: 92%;
    gap: 2em;
  }
  .about-right-inner > p {
    font-size: 0.9rem;
  }
  .technology {
    width: 100%;
    gap: 1.5em;
    justify-content: center;
  }
  li > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .gooey {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 799px) {
  /* footer */
  .footer {
    flex-direction: column-reverse;
    gap: 0.45em;
  }
  .footer > .copyright {
    margin-left: 0;
  }
  .footer > .social-icons {
    margin-right: 0;
  }
  .address {
    display: none;
  }
  /* contact */
  .title {
    width: 90%;
  }
  .title > p {
    text-align: center;
    font-size: 1.7rem;
  }
  .title > h2 {
    text-align: center;
  }
  .contact-section {
    gap: 2em;
    margin-bottom: 3em;
  }
  .contact-info {
    flex-direction: column;
    gap: 1em;
  }
  .common {
    flex-direction: column;
    gap: 0.15em;
    justify-content: center;
    align-items: center;
  }
  .inner {
    align-items: center;
  }

  /* about */

  .about-grid {
    width: 72%;
    grid-template-columns: 1fr;
    margin-block: 2em;
    gap: 2em;
  }
  .about-right-inner {
    text-align: center;
  }
  .about-right-inner > p {
    text-align: center;
    font-size: 0.9rem;
  }

  /* portfolio */

  .portfolio {
    width: 90%;
    text-align: center;
  }
}
.bars {
  display: none;
}
@media screen and (max-width: 799px) {
  /* navbar */
  .bars {
    display: block;
  }
  .nav-elements {
    display: none;
  }
  .nav-desk {
    padding: 1em;
  }
  .nav-desk > .brand {
    margin-left: 0;
  }

  /* technology */
  .technology {
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fst-child {
    flex-basis: 100%;
    justify-content: center;
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.589); */
  }
  .fst-child > .or {
    display: none;
  }

  /* right && gooey */
  .right {
    place-items: center;
  }
  .gooey {
    width: 17rem;
    height: 17rem;
  }
  .home {
    width: 90%;
  }
  .home > .grid {
    grid-template-columns: 100%;
    grid-auto-rows: unset;
    gap: 3rem;
  }
  .grid > .right {
    grid-row: 1/2;
  }
  .grid > .left {
    text-align: center;
    gap: 1.5em;
  }
  .grid > .left > h1 {
    text-align: center;
    font-size: 3.8rem;
  }
  .grid > .left > .social-icons {
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .about-grid {
    width: 90%;
  }
}

.mobile-nav {
  width: 82%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  justify-content: center;
  z-index: 999;
  background: aliceblue;
  transition: left 0.5s ease;
}
.mobile-nav-slide {
  left: 0%;
}
.mobile-nav-elements {
  text-align: center;
  font-family: poppins;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 5em;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 1em;
}
.mobile-nav-elements > li {
  transition: scale 200ms ease;
}
.mobile-nav-elements > li:hover {
  scale: 1.1;
}
.mobile-nav-elements > li > a {
  font-weight: 600;
  color: #1a1a1a;
}
